KöfteciYusuf/Connected Services/ServiceReference1/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService1_GirisKontrol_InputMessage">
    <wsdl:part name="parameters" element="tns:GirisKontrol" />
  </wsdl:message>
  <wsdl:message name="IService1_GirisKontrol_OutputMessage">
    <wsdl:part name="parameters" element="tns:GirisKontrolResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_üyeOl_InputMessage">
    <wsdl:part name="parameters" element="tns:üyeOl" />
  </wsdl:message>
  <wsdl:message name="IService1_üyeOl_OutputMessage">
    <wsdl:part name="parameters" element="tns:üyeOlResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_ÖdemeKontrol_InputMessage">
    <wsdl:part name="parameters" element="tns:ÖdemeKontrol" />
  </wsdl:message>
  <wsdl:message name="IService1_ÖdemeKontrol_OutputMessage">
    <wsdl:part name="parameters" element="tns:ÖdemeKontrolResponse" />
  </wsdl:message>
  <wsdl:portType name="IService1">
    <wsdl:operation name="GirisKontrol">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GirisKontrol" message="tns:IService1_GirisKontrol_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GirisKontrolResponse" message="tns:IService1_GirisKontrol_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="üyeOl">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/üyeOl" message="tns:IService1_üyeOl_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/üyeOlResponse" message="tns:IService1_üyeOl_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ÖdemeKontrol">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/ÖdemeKontrol" message="tns:IService1_ÖdemeKontrol_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/ÖdemeKontrolResponse" message="tns:IService1_ÖdemeKontrol_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService1" type="tns:IService1">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GirisKontrol">
      <soap:operation soapAction="http://tempuri.org/IService1/GirisKontrol" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="üyeOl">
      <soap:operation soapAction="http://tempuri.org/IService1/üyeOl" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ÖdemeKontrol">
      <soap:operation soapAction="http://tempuri.org/IService1/ÖdemeKontrol" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="BasicHttpBinding_IService1" binding="tns:BasicHttpBinding_IService1">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/K%C3%B6fteciYusufServer/Service1/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>