KöfteciYusuf/Connected Services/ServiceReference1/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="GirisKontrol">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="KullanıcıAdı" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="sifre" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GirisKontrolResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GirisKontrolResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="üyeOl">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ad" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="tellno" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Kapıno" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="daireno" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ilindex" type="xs:int" />
        <xs:element minOccurs="0" name="ilçeindex" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="üyeOlResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="üyeOlResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ÖdemeKontrol">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Kartno" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="SonKullanmaTarihi" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ÖdemeKontrolResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ÖdemeKontrolResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>